/node_modules
/idea
/idea/*
/build
/build/*
/dist/*
/logs
/logs/*
/node_modules/*
yarn.lock
yarn-error.log
package-lock.json
glidar.pem
glidar.pub
.vscode/launch.json
/app.log
.env.local
.env.development
.env.production
.env.staging
.env.testing
