<div class="container">
    <form action="workplaceForm" [formGroup]="workplaceForm" (ngSubmit)="firstTimeSetup()" method="POST">
        <div>
          <div style="margin-top: 10px" class="row">
            <div class="col-11">
            <label>Nav Bar</label>

            </div>
            <div class="dropdown col-1">
        
                <!-- Toggle -->
                <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="./assets/img/avatars/profiles/avatar-1.jpg" alt="..." class="avatar-img rounded-circle">
                </a>
  
                <!-- Menu -->
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="profile-posts.html" class="dropdown-item">Profile</a>
                  <a href="settings.html" class="dropdown-item">Settings</a>
                  <hr class="dropdown-divider">
                  <a (click)="logout()" class="dropdown-item">Logout</a>
                </div>
  
              </div>
          </div>   
          <div class="form-group">
            <div class="row">
                <div class="col-md-11">
                  <h4>Workplace Form</h4>
                  <div class="border-2"></div>
                </div>
                  
                <!-- <div class="col-md-1">
                  <button mat-fab type="button" *ngIf="show" (click)="closeFarm(i)" #closebtn style="background-color: #20a8d8; color: #fff;"><i class="fas fa-times"></i></button>
                </div> -->
                
              </div>
            <input type="text" id="client_name" formControlName="workplace_name" class="form-control"  placeholder="Enter the name of company">
            <input style="margin-top: 10px" type="text" id="client_email" formControlName="location_name" class="form-control" placeholder="Enter company location">
           
            <label (click)="addCreds()">
                Add
            </label>
                <div formArrayName="area_list" *ngFor="let creds of workplaceForm['controls'].area_list['controls']; let i = index" >
                <div [formGroupName]="i">
                
                 
                   <div class="row">
                      <div class="col-md-6">
                       <div class="row" style="margin-top: 20px;">
                          <div class="col-md-6">
                            <label>Area Name</label>
                              <input matInput  placeholder="Area Name" formControlName="area_name" required>
                          </div>
                   </div>
                </div>  
                
                <div class="col-md-6">
                    <label (click)=closeCreds(i)>Remove</label>
                </div>
                    </div>            
              </div>
                </div>
              </div>   
        
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
      </form>
</div>