<!DOCTYPE html>
<html lang="en">

<head>
	<title>Content</title>
	<style>
		.content-wrap {
			padding: 23px 15px;
			color: #363636 !important;
		}

		hr {
			color: #9a9a9a;
			height: 1px;
			background: #ccc;
			border: 0;
			width: 10%;
		}
	</style>
	<link rel="stylesheet" href="../../../../../../public/quill.bubble.css" type="text/css">
	<link rel="stylesheet" href="../../../../../../public/quill.core.css" type="text/css">
	<link rel="stylesheet" href="../../../../../../public/quill.snow.css" type="text/css">
</head>

<body>
	<div class="content-wrap">
		<hr>
		<div class="ql-editor">{{{content}}}</div>
	</div>
</body>

</html>