<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" ></ngx-loading>

<div *ngIf="!loading"> 
 <div class="container" >



      <div style="margin-top: 10px" class="row align-items-end">
          <div class="col">
            <h1 class="header-title">Employee List</h1>
          </div>
        <div class="col-auto">
          <div class="pr-4 pl-4 mb-3 mb-xl-0 d-xl-block d-none">
              <button type="button" style="margin-left: 20px" class="btn btn-success" (click)="openModal('bulk-upload')" >Bulk Upload</button>      
              <button type="button" style="margin-left: 20px" class="btn btn-success" (click)="AddNewEmployeeOpenModal('add-new-emp')" >Add new Employee</button>                      
          </div>
        </div>
        </div>
                 
      <!-- <div class="row">
        <div class="col-10">
            <input type="file"  style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
            <button type="button" class="btn btn-info" (click)="Upload()" >Upload</button>
         
        </div>
        <div class="col-2">
            <button type="button" style="margin-left: 20px" class="btn btn-info" (click)="AddNewEmployeeOpenModal('add-new-emp')" >Add new</button>      
          </div>
      </div> -->
        
        <div class="row" style="margin-top: 20px">
          <div class="col-12" >
           
            <!-- <div class="table-responsive"> -->
             
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>
                  
                  <div class="mat-elevation-z8" style="margin-bottom: 20px">
                <table id="contentToConvert" mat-table [dataSource]="dataSource" matSort class="table table-sm table-nowrap card-table mat-elevation-z8">
        
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                      <th class="text-muted sort" *matHeaderCellDef mat-sort-header> # </th>
                      <td  *matCellDef="let element;let i=index"> {{i+1}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="emp_id">
                      <th class="text-muted sort" *matHeaderCellDef mat-sort-header> ID </th>
                      <td  *matCellDef="let element"> {{element.emp_id}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="emp_name">
                      <th class="text-muted sort" *matHeaderCellDef mat-sort-header> NAME </th>
                      <td  *matCellDef="let element" > {{element.emp_name}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="emp_email">
                      <th class="text-muted sort" *matHeaderCellDef mat-sort-header> EMAIL </th>
                      <td  *matCellDef="let element"> {{element.emp_email}} </td>
                    </ng-container>
    
        
                      <ng-container matColumnDef="created_at">
                          <th class="text-muted sort" *matHeaderCellDef mat-sort-header> CREATED AT</th>
                          <td *matCellDef="let element"> {{element.created_at}} </td>
                        </ng-container>
    
                        <!-- <ng-container matColumnDef="is_active">
                            <th class="text-muted sort" *matHeaderCellDef mat-sort-header> STATUS </th>
                            <td  *matCellDef="let element"> {{element.is_active==1?'Active':'Inactive'}} </td>
                          </ng-container> -->
                  
                       
                          <ng-container matColumnDef="action">
                              <th class="text-muted sort" *matHeaderCellDef mat-sort-header> ACTION </th>
                              <td *matCellDef="let element"><div  class="col text-left dropdown">
                                <i class="fe fe-more-vertical"  data-toggle="dropdown">
                                 <span class="caret"></span></i>
                          <ul class="dropdown-menu">
                            <li><a  (click)="editEmployee(element,'add-new-emp')" class="dropdown-item">Edit</a></li>
                            <li><a  (click)="openModalDisableEmployee(element,'disable-confirmation')" class="dropdown-item">{{element.is_active==1?'Disable':'Enable'}}</a></li>
                            <!-- <li><a  (click)="editSurvey(survey.survey_id,'true')" class="dropdown-item">Duplicate Survey</a></li> -->
                         
                          </ul>  
                          </div>
                         </td>
                            </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
        
                  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        
                </div>
        
        
            <!-- </div> -->
          </div>
        </div>
        </div>
        </div>
    
        <jw-modal id="add-new-emp">
            <div class="modal" style="display: block;">
                <div class="modal-dialog modal-confirm">
          <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel">Add New Employee</h5><h5>
                            <button type="button" class="close" data-dismiss="modal" (click)="closeModal('add-new-emp');" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </h5></div>
                        <form [formGroup]="add_emp" (ngSubmit)="onSubmitEmpForm()" method="POST">
                          <div class="modal-body">   
                            <div class="form-group">
                              <input type="text" id="emp_id" formControlName="emp_id" class="form-control" placeholder="Enter employee ID">
                              <input style="margin-top: 10px" type="text" id="emp_name" formControlName="emp_name" class="form-control" placeholder="Enter employee Name">
                              <input style="margin-top: 10px" type="text" id="emp_email" formControlName="emp_email" class="form-control" placeholder="Enter employee Email Id">
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-light" (click)="closeModal('add-new-emp')" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Submit</button>
                          </div>
                        </form>
                      </div>
                      </div>
                      </div>
        </jw-modal>



        <jw-modal id="bulk-upload">
          <div class="modal" style="display: block;">
              <div class="modal-dialog modal-confirm">
        <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Add Employees</h5><h5>
                          <button type="button" class="close" data-dismiss="modal" (click)="closeModal('bulk-upload');" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                      </h5></div>
                      <form [formGroup]="add_emp" (ngSubmit)="Upload()" method="POST">
                        <div class="modal-body">   
                          <!-- <div class="card"> -->
                              <!-- <div class="card-body"> -->
                                 <h5 class="card-title text-danger">Please note previous employee list will be discarded</h5>
                          <div>
                                 <form action="" class="froms-sample" method="post" name="frmExcelImport" id="frmExcelImport" enctype="multipart/form-data">
                                
                                  <div class="form-group">

                                    <div class="input-group mb-3">
                                      <div class="custom-file">
                                        <input type="file"  (change)="incomingfile($event)" class="custom-file-input"  accept=".xlsx" required="">
                                        <label class="custom-file-label" for="inputGroupFile01">{{fileName=="null"?"Choose Xlsx File":fileName}}</label>
                                      </div>
                                    </div>
              
                                  </div>
              
                                  <!-- <div class="form-group">
                                    <button type="submit"  class="btn btn-success" id="submit" name="import">Import</button>
                                  </div> -->
                                </form>
                              <!-- </div> -->
                              
                            <!-- </div> -->
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light" (click)="closeModal('bulk-upload')" data-dismiss="modal">Cancel</button>
                          <button type="submit" class="btn btn-success">Import</button>
                        </div>
                      </form>
                    </div>
                    </div>
                    </div>
      </jw-modal>


      <jw-modal id="disable-confirmation">
        <div id="myModal" class="modal" style="display: block;">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header">			
                  <h4 class="modal-title">{{'Are sure you want to '+status+' this employee ?'}}</h4>	
                          <button type="button" (click)="closeModal('disable-confirmation')" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                
                <div class="modal-footer">
                  <button type="button" (click)="closeModal('disable-confirmation')" class="btn btn-info" data-dismiss="modal">Cancel</button>
                  <button type="button" (click)="disableEmployee('disable-confirmation')" class="btn btn-danger">{{status|titlecase}}</button>
                </div>
              </div>
            </div>
          </div>
      </jw-modal>